body{
  background-color: #E7EBF0;
}
body, html { 
  overflow-x: hidden; 
  overflow-y: auto;
}

.cont{
 height: 80vh;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.cont::-webkit-scrollbar {
  display: none;
}